<header class="header">
        <a href="/">
            <img src="/logo.svg" alt="logo" draggable="false" />
        </a>
        <div>
            <a href="/users/sign_in">
                <button class="button" id="login" type="button">Login</button>
            </a>
            <a href="/users/sign_up">
                <button class="button" id="sign_up" type="button">Sign Up</button>
            </a>
        <div>
    </header>
