// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  font-family: Poppins;
  margin: 0;
}
.header {
  background-color: #fff3e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;

  div > a > button {
    width: 150px;
    height: 60px;
    border-radius: 80px;
    border: none;
    font-size: 18px;
  }

  div > a > #login {
    background-color: #ffffff;
    margin-right: 10px;
  }
  div > a >#sign_up {
    background-color: #f48c06;
  }
  div > a >button:hover {
    filter: brightness(0.9);
  }

  @media (max-width: 900px){
      padding: 10px 50px;

      div > button {
      display: none;
    }
}

}

.container {
  display: flex;
  flex-direction: row;
  background-color: #fff3e4;
  height: 100%;

    @media (max-width: 1250px){
      #image {
        display: none;
      }
    }
}

main {
  width: 681px;
  padding: 150px 100px 200px 200px;

  > section {
    width: 681px;
    height: 162x;

    #featured {
      color: #f48c06;
    }

    #joinButton {
      width: 220px;
      height: 60px;
      background-color: #f48c06;
      border-radius: 80px;
      border: none;
      font-size: 18px;
      margin-top: 30px;
    }
    #joinButton:hover {
      filter: brightness(0.9);
    }
  }
    @media (max-width: 900px){
      padding: 100px 50px;

      > section {
        width: 330px;
      }
    }
}
#featuredImage {
  width: 700px;
}

h1 {
  margin: 0;
  color: #2f327d;
  font-size: 54px;

     @media (max-width: 900px){
      font-size: 30px;
    }
}

h2 {
  margin: 0;
  color: #464646;
  font-size: 24px;
  margin-bottom: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;

  > h3 {
    margin-top: 30px;
    font-size: 36px;
  }
  > h4 {
    font-size: 24px;
    color: #696984;
  }

  #blueText {
    color: #2f327d;
  }

  #orangeText {
    color: #f48c06;
  }
}

.cards {
  padding: 150px 200px;
  display: flex;
  gap: 100px;



  .card {
    width: 450px;
    height: 430px;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;


    > .blueText {
      color: #2f327d;
      font-size: 30px;
      font-weight: 500;
    }

    > img {
      width: 250px;
      position: absolute;
      margin-bottom: 420px;
      margin-left: 98px;
      @media (max-width: 1919px) {
        display: none;
      }
      
    }

     div {
      padding: 25px;
      align-items: center;
      > p {
        font-size: 20px;
        color: #696984;
      }
    }
  }
    @media (max-width: 1200px) {
        flex-direction: column;
        padding: 150px 50px;

        .card {
          width: 300px;
          padding: 10px;
        }
      }
       @media (max-width: 600px) {
          padding: 40px;
      }
}
